version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: store-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=store-db

volumes:
  mongodb_data:
